node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

pids
*.pid
*.seed
*.pid.lock

coverage/
*.lcov

.npm

.eslintcache

*.tgz

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

tmp/
temp/

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

junit.xml
test-results.json
qa
expose.js
