.extended-toggle-enter-active,
.extended-toggle-leave-active {
  transition: opacity 250ms;
}

.extended-toggle-enter,
.extended-toggle-leave-to {
  opacity: 0;
}
  
  
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2turn);
  }
}