@import "./variables.css";
@import "./animations.css";

.extended__multiselect-wrapper,
.extended__multiselect-wrapper--disabled {
  position: relative;
  width: var(--max-size);
  height: var(--max-size);
  cursor: var(--pointer-cursor);
}

.extended__multiselect-wrapper *,
.extended__multiselect-wrapper--disabled * {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}

.extended__multiselect-wrapper--disabled .extended__multiselect-container {
  background-color: var(--disabled);
  user-select: none;
  cursor: var(--default-cursor);
}

.extended__multiselect-wrapper--disabled .extended__multiselect-input,
.extended__multiselect-wrapper--disabled .extended__multiselect-input--hidden {
  cursor: --default-cursor;
}

.extended__multiselect-container {
  align-items: center;
  transition: var(--wrapper-transition);
}

.extended__multiselect,
.extended__multiselect-slate-grey,
.extended__multiselect-slate-blue,
.extended__multiselect-teal,
.extended__multiselect-strict {
  border: var(--border);
  border-radius: var(--border-radius);
  display: grid;
  padding: var(--wrapper-padding);
  width: var(--max-size);
}

.extended__multiselect,
.extended__multiselect .extended__multiselect-increaser:active {
  border-color: var(--basic-color);
}

.extended__multiselect .extended__multiselect-increaser:active {
  border-color: var(--basic-color);
}

.extended__multiselect-slate-grey,
.extended__multiselect-slate-grey .extended__multiselect-increaser:active {
  border-color: var(--dark-slate-grey);
}

.extended__multiselect-slate-blue,
.extended__multiselect-slate-blue .extended__multiselect-increaser:active {
  border-color: var(--dark-slate-blue);
}
  
.extended__multiselect-teal,
.extended__multiselect-teal .extended__multiselect-increaser:active {
  border-color: var(--teal);
}

.extended__multiselect-strict,
.extended__multiselect-strict .extended__multiselect-increaser:active {
  border-color: var(--strict);
}

.extended__multiselect-options,
.extended__multiselect-options-slate-grey,
.extended__multiselect-options-slate-blue,
.extended__multiselect-options-teal,
.extended__multiselect-options-strict {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  cursor: var(--pointer-cursor);
  border: var(--border);
  color: inherit;
  user-select: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  z-index: var(--z-index-options);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  width: var(--max-size);
  overflow: auto;
  border-top: none;
  top: var(--max-size);
  -webkit-overflow-scrolling: touch;
}

.extended__multiselect-options > *:not([class^=extended__multiselect-options_option]):not([class=extended__multiselect-options_container]),
.extended__multiselect-options-slate-grey > *:not([class^=extended__multiselect-options_option]):not([class=extended__multiselect-options_container]),
.extended__multiselect-options-slate-blue > *:not([class^=extended__multiselect-options_option]):not([class=extended__multiselect-options_container]),
.extended__multiselect-options-teal > *:not([class^=extended__multiselect-options_option]):not([class=extended__multiselect-options_container]),
.extended__multiselect-options-strict > *:not([class^=extended__multiselect-options_option]):not([class=extended__multiselect-options_container]) {
  padding: var(--root-padding);
}

.extended__multiselect-options--atop {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top: var(--border);
}
    
.extended__multiselect-clear--active {
  grid-template-columns: var(--grid-columns);
}

.extended__multiselect-clear--locked {
  grid-template-columns: var(--grid-rows);
}
  
.extended__multiselect,
.extended__multiselect-options {
  border-color: var(--basic-color);
}

.extended__multiselect-slate-grey,
.extended__multiselect-options-slate-grey {
  border-color: var(--dark-slate-grey);
}

.extended__multiselect-slate-blue,
.extended__multiselect-options-slate-blue {
  border-color: var(--dark-slate-blue);
}

.extended__multiselect-teal,
.extended__multiselect-options-teal {
  border-color: var(--teal);
}

.extended__multiselect-strict,
.extended__multiselect-options-strict {
  border-color: var(--strict);
}

.extended__multiselect-input,
.extended__multiselect-block {
  min-height: var(--min-block-height);
  width: var(--max-size);
  border: none;
  outline: none;
}

.extended__multiselect-block > span {
  word-break: break-all;
  white-space: pre-line;
}

.extended__multiselect-input {
  cursor: text;
  color: inherit;
}

.extended__multiselect-input:focus::placeholder {
  color: var(--strict);
  font-weight: var(--wide-text);
}

.extended__multiselect-input--trigger-option::placeholder {
  color: var(--strict);
  font-weight: var(--wide-text);
}
      
.extended__multiselect-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  user-select: none;
  color: inherit;
}

.extended__multiselect-input--hidden {
  position: absolute;
  cursor: var(--pointer-cursor);
  border: none;
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
}
    
.extended__multiselect-toggle,
.extended__multiselect-toggle--disabled,
.extended__multiselect-cancel,
.extended__multiselect-cancel--disabled,
.extended__multiselect-loader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.extended__multiselect-toggle--active {
  transform-origin: 50% 50%;
  transition: transform 0.2s ease-out;
  transform: rotate(180deg);
}

.extended__multiselect-toggle--locked {
  transform-origin: 50% 50%;
  transition: transform 0.2s ease-out;
  transform: rotate(0deg);
}

.extended__multiselect-toggle_wrapper,
.extended__multiselect-cancel_wrapper {
  align-self: var(--icons-align-self);
  justify-self: var(--icons-justify-self);
  cursor: var(--pointer-cursor);
}

.extended__multiselect-toggle {
  margin-top: var(--toggle-icon-gap);
}

.extended__multiselect-toggle,
.extended__multiselect-toggle--disabled {
  padding: var(--cancel-padding);
}

.extended__multiselect-toggle_icon-large,
.extended__multiselect-toggle--disabled_icon-large,
.extended__multiselect-cancel_icon-large,
.extended__multiselect-cancel--disabled_icon-large,
.extended__multiselect-loader_icon-large {
  width: var(--icon-size-large);
  height: var(--icon-size-large);
}

.extended__multiselect-toggle_icon-medium,
.extended__multiselect-toggle--disabled_icon-medium,
.extended__multiselect-cancel_icon-medium,
.extended__multiselect-cancel--disabled_icon-medium,
.extended__multiselect-loader_icon-medium {
  width: var(--icon-size-medium);
  height: var(--icon-size-medium);
}

.extended__multiselect-toggle_icon-small,
.extended__multiselect-toggle--disabled_icon-small,
.extended__multiselect-cancel_icon-small,
.extended__multiselect-cancel--disabled_icon-small,
.extended__multiselect-loader_icon-small {
  width: var(--icon-size-small);
  height: var(--icon-size-small);
}

.extended__multiselect-toggle_icon-deselect,
.extended__multiselect-toggle--disabled_icon-deselect,
.extended__multiselect-cancel_icon-deselect,
.extended__multiselect-cancel--disabled_icon-deselect,
.extended__multiselect-loader_icon-deselect {
  width: var(--icon-size-block);
  height: var(--icon-size-block);
}

.extended__multiselect-cancel,
.extended__multiselect-cancel--disabled {
  border: var(--border);
  border-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: var(--cancel-padding);
}

.extended__multiselect-cancel:active  {
  border-color: var(--cancel);
  border-radius: var(--border-radius-small);
  background-color: var(--cancel-backgound-color);
}

.extended__multiselect-filter_basic {
  filter: url(#basicFilter);
}

.extended__multiselect-filter_black {
  filter: url(#blackFilter);
}

.extended__multiselect-filter_green {
  filter: url(#greenFilter);
}

.extended__multiselect-loader_default-loader {
  filter: url(#filterLoaderDefault);
}

.extended__multiselect-loader_basic {
  filter: url(#filterLoaderBasic);
}

.extended__multiselect-loader_slate-grey {
  filter: url(#filterLoaderSlateGrey);
}

.extended__multiselect-loader_slate-blue {
  filter: url(#filterLoaderSlateBlue);
}

.extended__multiselect-loader_teal {
  filter: url(#filterLoaderTeal);
}

.extended__multiselect-loader_strict {
  filter: url(#filterLoaderStrict);
}

.extended__multiselect-loader-animate {
  animation-name: loading;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.extended__multiselect-options_container {
  display: flex;
  flex-flow: column nowrap;
}

.extended__multiselect-options_option,
.extended__multiselect-options_option-slate-grey,
.extended__multiselect-options_option-slate-blue,
.extended__multiselect-options_option-teal,
.extended__multiselect-options_option-strict {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: var(--root-padding);
  color: inherit;
}

.extended__multiselect--multiple-basic,
.extended__multiselect--multiple-slate-grey,
.extended__multiselect--multiple-slate-blue,
.extended__multiselect--multiple-teal,
.extended__multiselect--multiple-strict {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: var(--block-border-radius);
  padding: var(--block-padding);
  gap: var(--block-gap);
  min-height: var(--min-block-height);
}

.extended__multiselect-options_option:hover,
.extended__multiselect--multiple-basic {
  background-color: var(--basic-transparent);
  color: var(--hover-color);
}

.extended__multiselect-options_option-slate-grey:hover,
.extended__multiselect--multiple-slate-grey {
  background-color: var(--dark-slate-grey-transparent);
  color: var(--hover-color);
}

.extended__multiselect-options_option-slate-blue:hover,
.extended__multiselect--multiple-slate-blue {
  background-color: var(--dark-slate-blue-transparent);
  color: var(--hover-color);
}

.extended__multiselect-options_option-teal:hover,
.extended__multiselect--multiple-teal {
  background-color: var(--teal-transparent);
  color: var(--hover-color);
}

.extended__multiselect-options_option-strict:hover,
.extended__multiselect--multiple-strict {
  background-color: var(--strict-transparent);
  color: var(--hover-color);
}

.extended__multiselect-marker-shape {
  width: var(--icon-size-block);
  height: var(--icon-size-block);
  margin-right: var(--block-gap);
  border-radius: var(--half-size);
  border: var(--border);
  border-color: var(--basic-color);
}

.extended__multiselect-marker-shape--selected {
  border-color: var(--cancel);
}

.extended__multiselect-marker-shape-only {
  width: var(--icon-size-block);
  height: var(--icon-size-block);
  margin-left: var(--block-gap);
  border: var(--border);
  border-color: transparent;
}

.extended__multiselect-container + .extended__multiselect-options--marker > span:not([id^=option-label]),
.extended__multiselect-container + .extended__multiselect-options--marker > .extended__multiselect-option-create {
  padding-left: 30px;
}

.extended__multiselect-options_option--disabled {
  background-color: var(--disabled);
  user-select: none;
  cursor: --default-cursor;
}

.extended__multiselect_deselect-block-icon {
  width: var(--icon-size-block);
  height: var(--icon-size-block);
}

.extended__multiselect-block--multiple {
  display: flex;
  flex-flow: row wrap;
  gap: var(--outer-gap);
}

.extended__multiselect-block_cancel-wrapper,
.extended__multiselect-block_cancel-wrapper--loading {
  border: var(--border);
  border-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: var(--block-cancel-padding);
}

.extended__multiselect-block_cancel-wrapper:active {
  border-color: var(--cancel);
  border-radius: var(--border-radius-small);
  background-color: var(--cancel-backgound-color);
}

.extended__multiselect-increaser {
  border: var(--border);
  border-color: transparent;
  padding: var(--increaser-padding);
}

.extended__multiselect-placeholder {
  color: var(--placeholder);
  margin-left: 2px;
}
